notebooks/Playground.ipynb

# .env
.env

# __pycache__
__pycache__
.pytest_cache

# ruff cache
.ruff_cache

# macOS
.DS_Store

# build
build
dist
medplexity.egg-info

#venv
/venv
.venv

# command line
/medplexity.egg-info

# pycharm
.idea/
.idea

# cache
cache/

# exports
exports/

# logs
*.log

# vscode
.vscode
